.buttonSelected {
    background-color: rgb(248, 73, 113);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Montserrat';
    height: 32px;
    margin: 2px 8px;
    border: none;
}

.buttonNoSelected {
    background-color: white;
    font-size: 16px;
    color: rgb(168, 168, 168);
    border: solid 1px rgb(168, 168, 168);
    border-radius: 15px;
    font-family: 'Montserrat';
    font-weight: bold;
    height: 32px;
    margin: 2px 8px;

}
